{% extends "base.html" %}
{% block title %} {{note_name}} {% endblock %}
{% block content %}
<div id="content">
  <form hx-post="/note/?name={{ note_name }}" hx-target="#content" hx-swap="innerHTML">
    <input class="form-control me-2" type="search" value="{{ note_name }}" aria-label="Seasdarch" id="note_name" name="name" >
    <textarea id="note_content" name="note_content" required rows="30" cols="150">
      {{ note_content | safe }}
    </textarea>
    <button type="submit">save</button>
  </form>
  {{ note_content | safe }}
</div>
{% endblock %}
