<!DOCTYPE html>
<html>
    <head>
        <title>bhunao notes</title>
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="flex-container">
            <div class="flex-item">
                <a href="#">?LOGO?</a>
            </div>
            <div class="flex-item">
                <a href="#">notes</a>
                <a href="#">outise~</a>
            </div>
            <div class="flex-item">
                <form hx-get="/note/" hx-target="#notes" hx-swap="innerHTML" class="nav-searchbar">
                    <input type="text" id="note_name" name="name" required>
                    <button type="submit">search</button>
                </form>
            </div>
        </div>
        <div class="flex-container">
            <div class="flex-item" style="display: none;">
                indice
            </div>
            <div class="flex-item">
                <h1>HTMX Endpoint Notes</h1>
                <div id="notes"></div>
            </div>
        </div>
    </body>
</html>
