{% extends "base.html" %}
{% block title %} {{note_name}} {% endblock %}
{% block content %}

<div class="flex-item" style="flex: 6;">


  <div id="notes">
    <title> {{note_name}}</title>
    <div id="content">
      {% for note in notes_list %}
      <a hx-get="/note/"
        hx-target="#notes"
        hx-swap="innerHTML"
        hx-vals='{"name": "{{ note }}"}' >
        <div class="card border-primary mb-3">
          <div class="card-header">{{ note }}</div>
          <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
