{% extends "base.html" %}
{% block content %}
<div class="container pb-5 pt-3">
	<div class="d-flex justify-content-between">
		<small><strong>created:</strong> {{ note.date_created }}</small>
		<small><strong>last edit:</strong> {{ note.last_edit }}</small>
	</div>

	<hr>

	<div class="d-flex w-100 justify-content-between">
		<div class="input-group m-0 p-0">
			<input type="text" class="form-control rounded-0" placeholder="Path" aria-label="Path" value="{{ note.path }}">
			<span class="input-group-text rounded-0">/</span>
			<input type="text" class="form-control rounded-0" placeholder="Name" aria-label="Name" value="{{ note.name }}">
			<span class="input-group-text rounded-0">.md</span>
		</div>

		<div class="btn-group btn-small" role="group" aria-label="Basic mixed styles example">
			<button hx-get="/{{ note.name }}" hx-push-url="true" hx-target="eisei content" type="button" class="btn btn-sm btn-danger rounded-0 border border-white">Cancel</button>
			<button hx-post="/{{ note.name }}/" hx-ext='json-enc' hx-params="[note_content='id']" hx-push-url="true" hx-target="#content" type="button" class="btn btn-sm btn-success rounded-0 border border-white">Save</button>
		</div>
	</div>

	<hr>

	<!-- note content -->
	<div class="form-floating">
		<textarea id="noteContent" class="form-control textarea h-100 rounded-0" rows="25" id="floatingTextarea">{{ note_content }}</textarea>
	</div>

</div>
{% endblock %}
