{% extends "base.html" %}
{% block content %}
<div class="container pb-5 pt-3">
	<div class="d-flex justify-content-between">
		<small><strong>created:</strong> ???</small>
		<small><strong>last edit:</strong> ???</small>
	</div>

	<hr>

	<div class="d-flex w-100 justify-content-between">
		<div class="input-group m-0 p-0">
			<input type="text" class="form-control" placeholder="Path" aria-label="Path">
			<span class="input-group-text">/</span>
			<input type="text" class="form-control" placeholder="Name" aria-label="Name">
			<span class="input-group-text">.md</span>
		</div>

		<div class="btn-group btn-small" role="group" aria-label="Basic mixed styles example">
			<button type="button" class="btn btn-sm btn-danger rounded-0 border border-white">Cancel</button>
			<button type="button" class="btn btn-sm btn-success rounded-0 border border-white">Save</button>
		</div>
	</div>

	<hr>

	<!-- note content -->
	<div class="form-floating">
		<textarea class="form-control textarea h-100" rows="25" id="floatingTextarea">...</textarea>
	</div>

</div>
{% endblock %}
