{% extends "base.html" %}
{% block content %}
<div class="container pt-5 pb-5">

	<div class="list-group rounded-0">

		<a href="#" class="list-group-item list-group-item-action border border-3" aria-current="true">
			<div class="d-flex w-100 justify-content-between">
				<h5>/path/to/test/directory</h5>
				<h4 class="mb-0">Lorem ipsum dolor sit amet</h4>
			</div>
			<hr>
			<p class="mb-1">Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
			<hr>
			<div class="d-flex w-100 justify-content-between">
				<small><strong>created:</strong> 2023-10-15 11:32</small>
				<small><strong>last edit:</strong> 3 days ago</small>
			</div>
		</a>

		<a href="#" class="list-group-item list-group-item-action border border-3" aria-current="true">
			<div class="d-flex w-100 justify-content-between">
				<h4>/path/to/test/directory</h4>
				<h3 class="mb-0">Lorem ipsum dolor sit amet</h3>
			</div>
			<hr>
			<p class="mb-1">Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
			<hr>
			<div class="d-flex w-100 justify-content-between">
				<small><strong>created:</strong> 2023-10-15 11:32</small>
				<small><strong>last edit:</strong> 3 days ago</small>
			</div>
		</a>

		<a href="#" class="list-group-item list-group-item-action border border-3" aria-current="true">
			<div class="d-flex w-100 justify-content-between">
				<h4>/path/to/test/directory</h4>
				<h3 class="mb-0">Lorem ipsum dolor sit amet</h3>
			</div>
			<hr>
			<p class="mb-1">Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
			<hr>
			<div class="d-flex w-100 justify-content-between">
				<small><strong>created:</strong> 2023-10-15 11:32</small>
				<small><strong>last edit:</strong> 3 days ago</small>
			</div>
		</a>

		<a href="#" class="list-group-item list-group-item-action border border-3" aria-current="true">
			<div class="d-flex w-100 justify-content-between">
				<h4>/path/to/test/directory</h4>
				<h3 class="mb-0">Lorem ipsum dolor sit amet</h3>
			</div>
			<hr>
			<p class="mb-1">Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
			<hr>
			<div class="d-flex w-100 justify-content-between">
				<small><strong>created:</strong> 2023-10-15 11:32</small>
				<small><strong>last edit:</strong> 3 days ago</small>
			</div>
		</a>

	</div>

</div>
{% endblock %}
